.failure-container {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.retry-button {
  background-color: #4f46e5;
  border: none;
  border-radius: 5px;
  width: 100px;
  color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  outline: none;
  font-size: 12px;
}
.loader-container {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.success-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 100%;
  padding: 14px;
}
@media screen and (min-width: 768px) {
  .success-container {
    border-radius: 10px;
  }
}
.profile-heading {
  font-size: 18px;
  font-family: 'roboto';
  font-weight: bold;
  color: #6366f1;
  margin-bottom: 8px;
}
.profile-description {
  font-size: 16px;
  font-family: 'roboto';
  font-weight: 400;
  color: #475569;
  margin-bottom: 8px;
}
